In [18]:
import pandas as pd
import requests
import io
from sqlalchemy import create_engine

In [9]:
url= "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
response = requests.get(url)

In [12]:
print(f'status code: {response.status_code}') #check the status of data download

status code: 200

In [17]:
df = pd.read_csv(io.BytesIO(response.content))
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [40]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [41]:
engine.connect()

In [42]:
df.to_sql('zone_lookup',con = engine,if_exists='replace', index=False)

265